</div>
<link href="/stylesheets/home.css" rel="stylesheet">
<!-- <% if (!login) { %>
<section class="section4">
  <div class="newsl row">
      <div class="container-fluid">
          <div class="footer-newsletter-inner row">
              <div class="newsletter col-lg-7">
                  <p class="newsletter-b">Sign up to Newsletter <span class="newsletter-m">...and receive
                          <strong>$10 coupon for first
                              shopping</strong></span></p>
              </div>
              <div class="newsletter-form col-lg-5 align-self-center">
                  <form>
                      <div class="input-group mb-3">
                          <input type="text" id="floatingInput" class="form-control-lg inp"
                              placeholder="Enter email address">
                          <span class="" id="basic-addon2"><button type="button"
                                  class="btn btn-dark btn-lg button">SignUp</button></span>
                      </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>



</section>
<% }%> -->
<footer class="footer  ">

<section class="footers footer-light mt-auto  bg-dark">
  <div class="container-fluid">
      <div class="row visible-xs">
          <div class="col-lg-12">
              <a href="" class="expand-footer"></a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2 col-sm-4">
              <div class="">
                  <h3>What’s Hot</h3>
                  <div class="">
                      <ul id="" class="menu">
                        <li>
                            <a href="">
                                  Collection</a></li>
                          <li id="" class=""><a href="">Trending</a>
                          </li>
                          <li id="" class=""><a href="">Bestsellers</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-2 col-sm-4">
              <div class="widget widget_nav_menu nav_menu-4">
                  <h3>Brands</h3>
                  <div class="menu">
                      <ul id="" class="menu">
                          <li id="" class=""><a href="" class="link-light  a_link">Dior</a>
                          </li>
                          <li id="" class=""><a href="">Gucci</a>
                          </li>
                          <li id="" class=""><a href="">RAY BAN</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-2 col-sm-4">
              <div class="widget ">
                  <h3>Help</h3>
                  <div class="menu">
                      <ul id="" class="menu">
                          <li class=""><a href="/pages/shipping-policy">Shipping</a></li>
                          <li class=""><a href='/pages/contact-us'>Contact Us</a></li>
                          <li class=""><a href="/pages/shipping-policy">Privacy Policy</a>
                          </li>
                  </div>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 ">

              <div class="widget ">
                  <h3>Social</h3>
                  <div class="textwidget">
                      <ul class="social-networks menu">
                          <li><a href="" title="Facebook" target="_blank" rel="noopener"><i
                                      class="fa fa-facebook"></i> facebook</a> </li>
                          <li><a href="" title="Twitter" target="_blank" rel="noopener"><i
                                      class="fa fa-twitter"></i> twitter</a></li>
                          <li><a href="" title="Instagram" target="_blank" rel="noopener"><i
                                      class="fa fa-instagram"></i> instagram</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          </div>
          <div class="line"></div>
          <div class="footer-bottom">
              <div class="row">
                  <div class="col-md-6 copyright">
                      © Copyright 2021 | <a href="/" target="_blank"
                          rel="noopener">Trustshop</a> by <a href="#" target="_blank"
                          rel="noopener">Trust tech</a> <br>
                      <div class="footer-menu">
                          <ul>
                              
                              <li class="/products/"><a href="">Store</a></li>
                              <li class=""><a href="/pages/careers">Careers</a>
                              </li>
                              <li class=""><a href="/pages/about-us">About Us</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <ul class="payment">
                          <li>
                              <a href="">
                                  <img src="https://themes.laborator.co/aurum/fashion/wp-content/uploads/2016/04/visa.png"
                                      loading="lazy" alt="visa" width="38" height="11">
                              </a>
                          </li>
                          <li>
                              <a href="">
                                  <img src="https://themes.laborator.co/aurum/fashion/wp-content/uploads/2016/04/paypal.png"
                                      loading="lazy" alt="paypal" width="55" height="15">
                              </a>
                          </li>
                          <li>
                              <a href="">
                                  <img src="https://themes.laborator.co/aurum/fashion/wp-content/uploads/2016/04/mastercard.png"
                                      loading="lazy" alt="mastercard" width="28" height="17">
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    </section>

</footer>
</div>
<script src="/javascripts/main.js"></script>
</body>
</html>
